<section>
  <form>
    <select names="min_beds" >
      <option value selected="selected">Minimum number of bedrooms</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5+</option>
    </select>
    <select names="max_beds" >
      <option value selected="selected">Maximum number of bedrooms</option>
      <option>No maximum</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
    <select names="type" >
      <option value selected="selected">Property Type</option>
      <option>House</option>
      <option>Flat/Appartment</option>
      <option>Bungalow</option>
      <option>Other</option>
    </select>    
    <select names="min_price" >
      <option value selected="selected">Price min</option>
      <option>No minimum</option>
      <option>&pound;50,000</option>
      <option>&pound;100,000</option>
      <option>&pound;150,000</option>
      <option>&pound;200,000</option>
      <option>&pound;250,000</option>
      <option>&pound;300,000</option>
      <option>&pound;400,000</option>
      <option>&pound;500,000</option>
    </select>
    <select names="max_price" >
      <option value selected="selected">Price max</option>
      <option>No maximum</option>
      <option>&pound;100,000</option>
      <option>&pound;150,000</option>
      <option>&pound;200,000</option>
      <option>&pound;250,000</option>
      <option>&pound;300,000</option>
      <option>&pound;400,000</option>
      <option>&pound;500,000</option>
    </select>
    <input type="submit" value="Search">
  </form>
</section>
<!-- <section>
  <form>
    <select names="min_beds" >
      <option value selected="selected">Minimum number of bedrooms</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5+</option>
    </select>
    <select names="max_beds" >
      <option value selected="selected">Maximum number of bedrooms</option>
      <option>No maximum</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
    <select names="type" >
      <option value selected="selected">Property Type</option>
      <option>House</option>
      <option>Flat/Appartment</option>
      <option>Bungalow</option>
      <option>Other</option>
    </select> 
    <select names="min_price" >
      <option value selected="selected">Price min per month</option>
      <option>No minimum</option>
      <option>&pound;300</option>
      <option>&pound;400</option>
      <option>&pound;500</option>
      <option>&pound;600</option>
      <option>&pound;700</option>
      <option>&pound;800</option>
      <option>&pound;900</option>
      <option>&pound;1,000</option>
    </select>
    <select names="max_price" >
      <option value selected="selected">Price max per month</option>
      <option>No maximum</option>
      <option>&pound;500</option>
      <option>&pound;600</option>
      <option>&pound;700</option>
      <option>&pound;800</option>
      <option>&pound;900</option>
      <option>&pound;1,000</option>
      <option>&pound;1,500</option>
    </select>
    <input type="submit" value="Search">
  </form>
</section> -->
<%= render 'properties/properties' %>

<br>

<%= link_to 'New Property', new_property_path %>
